* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0d7d3;
}

p {
    text-align: center;
    text-decoration: none;
    padding: 30px 20px;

}

h1 {
    text-align: center;
    background-color: #f3cc64;
}

h2 {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}

section {
    background-color: #898eea;
    padding: auto;
    margin-bottom: 10px;
    border-radius: 30px;
}

iframe {
    margin-top: 40px;
    margin-left: 469px;
}