* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0d7d3;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
    background-color: #f3cc64;
    box-sizing: border-box;
    color: #2499e7;
}

nav {
    text-align: center;
    background-color: #B0A3A3;
    box-sizing: border-box;
    color: #333333;
    align-items: center;
    justify-content: center;
}

article {
    background-color: #898eea;
    width: 480px;
    padding: 20px;
    margin-top: 160px;
    align-items: center;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    max-height: fit-content;
}

.container {
    max-width: 100%;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.container img {
    height: auto;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
}

#tickets {
    margin: auto;
    height: fit-content;
    max-width: fit-content;
}

#merch {

    margin: auto;
    height: fit-content;
    max-width: fit-content;
}

#Holtels {
    margin: auto;
    height: fit-content;
    max-width: fit-content;
}

li {
    display: inline;
    margin: 10px;
}

@media only screen and (max-width 480px) {}