* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0d7d3;
}

.container {

    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;


}

.container img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    /* Allows responsive scaling within container */

}

img {
    width: 200px;

}

li {
    list-style-type: none;
    padding-left: 0px;
    align-items: center;
    justify-content: center;
    margin-right: 565px;
    display: flex;

}

article {
    background-color: #898eea;
    width: 350px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    max-height: fit-content;
    text-align: center;
    flex-direction: column;
}

h1 {
    background-color: #f3cc64;
    text-align: center;
    margin-bottom: 20px;
}


@media only screen and (max-width 480px) {}