* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article {
    background-color: #b1a5a5;
    width: 450px;
    padding: 20px;
    margin-top: 150px;
    align-items: center;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    max-height: fit-content;
}

.container {
    max-width: 100%;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container img {
    height: auto;
    justify-content: center;
    align-items: center;
}

#tickets {
    margin: auto;
    height: fit-content;
    max-width: fit-content;
}

#merch {

    margin-top: auto;
    height: fit-content;
}

#Holtels {
    margin: auto;
    height: fit-content;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

body {
    background-color: aqua;
}

p {
    text-align: center;
}

img {
    width: 300px;
}

h1 {
    text-align: center;
}

nav {
    height: 10rem
}

@media only screen and (max-width 480px) {}