* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(51, 134, 243);
}

.container {
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    align-items: center;    /* Optional: center items horizontally */
    padding: 20px;
    
}

.container img {
    max-width: 800px;
    /* Allows responsive scaling within container */
   
}

img {
    width: 200px;
   
}

article {
    background-color: aqua;
    width: 350px;
    padding: 20px;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    max-height: fit-content;
    text-align: center;

}
h1{
    text-align: center;
}

@media only screen and (max-width 480px) {}