* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9D9D9;
}

h1 {
    text-align: center;
    background-color: #E1BF35;
    box-sizing: border-box;
    color: #2499e7;
}

nav {
    text-align: center;
    background-color: #B0A3A3;
    box-sizing: border-box;
    color: #333333;
    align-items: center;
    justify-content: center;
}

p {
    color: #333333;
}

li {

    display: inline;
    padding: 0.5rem;
}

ul {
    color: #1e1e1e;
    background-color: #B0A3A3;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}