* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(51, 134, 243);
}

.container {

    display: flex; 
    align-items: center;  
   padding: 20px;
   flex-direction: column;
    
}

.container img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    /* Allows responsive scaling within container */

}

img {
    width: 200px;

}

ul {
    text-decoration: none;
}

article {
    background-color: aqua;
    width: 350px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    max-height: fit-content;
    text-align: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}


@media only screen and (max-width 480px) {}